<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="../favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../favicon//apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Productos - Construpanel</title>

    <!-- build:css css/vendor.css -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='../bower_components/open-sans-fontface/open-sans.css' rel='stylesheet'>
    <!-- endbuild -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- build:css css/style.css -->
    <link href="css/style.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <!-- endbuild -->
    <!-- build:js js/angular.js -->
    <script src="../bower_components/angular/angular.js"></script>
    <!-- endbuild -->
</head>
<body>

</div>
<div class="container">
    <img id="logo-menu" src="../assets/logo.png">
    <nav id="navbar-top" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Construpanel</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="ul-navbar nav navbar-nav">
                    <li class="li-nav"><a href="/#nosotros">Nosotros</a></li>
                    <li class="li-nav"><a href="/servicios">Servicios</a></li>
                    <li class="li-nav active"><a href="#">Productos</a></li>
                    <li class="li-nav"><a href="/contactenos">Contáctenos</a></li>
                </ul>
                <ul class="ul-navbar nav navbar-nav navbar-right">
                    <li class="li-sn">
                        <img src="../assets/cr-flag.png" class="flag-icon">
                    </li>
                    <li class="li-sn">
                        <img src="../assets/spain-flag.png" class="flag-icon">
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="container" ng-controller="productsCtrl">
    <h1>Productos destacados</h1>

    <div class="row" style="margin-top:40px">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-7">
                    <img class="img-responsive center-block" src="../assets/images/10.png"
                         alt="Generic placeholder image">
                </div>
                <div class="col-md-5">
                    <h2 class="encabezado">Panel frigorífico</h2>
                    <a class="btn btn-primary btn-lg button" href="/productos/panel-frigorifico.html" role="button">Ver
                        más »</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <img class="img-responsive center-block" src="../assets/images/7.png"
                         alt="Generic placeholder image">
                </div>
                <div class="col-md-5">
                    <h2 class="encabezado">Panel fachada</h2>
                    <a class="btn btn-primary btn-lg button" href="/productos/panel-fachada.html" role="button">Ver más
                        »</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-7">
                    <img class="img-responsive center-block" src="../assets/images/1.png"
                         alt="Generic placeholder image">
                </div>
                <div class="col-md-5">
                    <h2 class="encabezado">Panel cubierta</h2>
                    <a class="btn btn-primary btn-lg button" href="/productos/panel-cubierta.html" role="button">Ver más
                        »</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <img class="img-responsive center-block" src="../assets/images/26.jpg"
                         alt="Generic placeholder image">
                </div>
                <div class="col-md-5">
                    <h2 class="encabezado">Panel Phire</h2>
                    <a class="btn btn-primary btn-lg button" href="/productos/panel-phire.html" role="button">Ver más
                        »</a>
                </div>
            </div>
        </div>
    </div>

    <hr class="divisor">

    <div class="row">
        <div class="col-lg-12">
            <h1>Paneles</h1>

            <div class="div-content">
                <form class="form-search form-inline">
                    <input type="text" class="form-control search-query" placeholder="Buscar" ng-model="query"/>
                </form>
            </div>
            <div style="overflow-y: scroll; height: 1000px">
                <div class="well" ng-show="!filteredItems.length">
                    <h4>La búsqueda "{{query}}" no ha obtenido resultados.</h4>
                </div>
                <div class="content-section" ng-repeat="p in filteredItems  = (productos | filter:busqueda)">
                    <div class="row content-section-title">
                        <div class="col-sm-6 left">
                            <h3>{{p.nombre | uppercase}}</h3>
                        </div>
                        <div class="col-sm-6 right">
                            <h4>{{p.descripcion | uppercase}}</h4>
                        </div>
                    </div>
                    <div class="row description">
                        <div class="row">
                            <div class="col-sm-4">
                                <img class="content-image" src="{{p.imagen}}" alt="{{p.nombre | uppercase}}">
                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div ng-repeat="c1 in p.col1">
                                            <p class="content-p" style="margin-bottom: 0.1em">
                                                <strong>{{c1.titulo}}</strong></p>

                                            <p class="content-p">{{c1.contenido}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div ng-repeat="c2 in p.col2">
                                            <p class="content-p" style="margin-bottom: 0.1em">
                                                <strong>{{c2.titulo}}</strong></p>

                                            <p class="content-p">{{c2.contenido}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" style="text-align: center">
                                        <img src="{{p.diagrama}}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-12">
            <div class="content-section">
                <div class="row content-section-title">
                    <div class="col-sm-6 left">
                        <h3>COLORES</h3>
                    </div>
                    <div class="col-sm-6 right">
                        <h4>ACABADOS</h4>
                    </div>
                </div>
                <div class="row description">
                    <div class="row" ng-repeat="row in colores" style="padding-left: 0.25em">
                        <div class="col-sm-3" ng-repeat="item in row">
                            <div style="display: block; text-align: center;margin-top: 1em">
                                <div ng-Style="{{color(item)}}" style="height: 140px!important;"></div>
                                <p style="margin-bottom: 0;font-size: 16px">{{item.codigo}}</p>

                                <p style="margin-bottom: 0;font-size: 16px">{{item.nombre | uppercase}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div id="div-copy">
            <p class="text-muted" id="copy">© 2015 Construpanel. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>

<!-- build:js js/vendor.js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- endbuild -->
<!-- build:js js/app.js -->
<script src="js/myApp.js"></script>
<!-- endbuild -->
</body>
</html>
