/* general*/
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 60px;
    color: #5a5a5a;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/*carousel*/

h2{
    margin: 0;
    color: #666;
    padding-top: 30px;
    font-size: 52px;
    color: #790923!important;
}

.item{
    background: #333;
    text-align: center;
    height: 400px !important;
}

/* navbar*/
.container.affix {
    padding-right: 0!important;
    padding-left: 0!important;
}
#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.navbar{
    border-radius: 0 !important;
    background-color: #961131;
    border-color: #790923;
}

.li-nav a{
    color: white!important;
}
.navbar-brand{
    color: white!important;
}

.active > a{
    background-color: #790923!important;
}

.active > a:focus{
    background-color: #790923!important;
}

.ul-navbar li{
    font-size: 20px;
}
.li-sn{
    font-size: 14px !important;
}
.li-sn a{
    padding: 7px 0 0 3px !important;
    color: white!important;
}