/* general*/
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 60px;
    color: #5a5a5a;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.footer .container p{
    font-size: 14px!important;
}

/*carousel*/
.carousel-control{
    width: 5%!important;
}

.item{
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 35%; /* (img-height / img-width * width) */
    /* (853 / 1280 * 100) */
}

/* navbar*/
.container.affix {
    padding-right: 0!important;
    padding-left: 0!important;
}
#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.navbar{
    border-radius: 0 !important;
    border-color: #961131;
    background-color: #790923;
}

.button{
    border-radius: 0;
    margin-top: 0.5em;
    font-size: 18px;
    background-color: #790923;
    border: none;
    color: white !important;
}
.button:visited{
    background-color: #961131;
}
.button:active{
    background-color: #961131;
}
.button:hover{
    background-color: #961131;
}
.li-nav a{
    color: white!important;
}
.navbar-brand{
    color: white!important;
}

.active > a{
    background-color: #961131!important;
}

.active > a:focus{
    background-color: #961131!important;
}

.ul-navbar li{
    font-size: 20px;
}
.li-sn{
    font-size: 14px !important;
}
.li-sn a{
    padding: 7px 0 0 3px !important;
    color: white!important;
}