/* general*/
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 60px;
    color: #5a5a5a;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/*carousel*/

.carousel-caption p{
    text-align: center;
}

.carousel-caption h3{
    text-align: center;
}

.item h2{
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
}

.item{
    background: #333;
    text-align: center;
    height: 400px !important;
}

/* navbar*/
.container.affix {
    padding-right: 0!important;
    padding-left: 0!important;
}
#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.navbar{
    border-radius: 0 !important;
}

.ul-navbar li{
    font-size: 16px;
}
.li-sn{
    font-size: 14px !important;
}
.li-sn a{
    padding: 7px 0 0 3px !important;
}


.button{
    border-radius: 0;
    margin-top: 0.5em;
    font-size: 18px;
    background-color: #222;
    color: white;
}

.divisor {
  margin: 20px 0;
}
