h2{
    margin: 0;
    padding-top: 30px;
    font-size: 52px;
    color: #790923!important;
}

/*     carousel       */
.carousel-caption{
    left: 5% !important;
    right: auto!important;
    text-align: left;
    padding-bottom: 0!important;
}

.carousel-caption h2{
    color: #790923;
    font-size: 42px!important;
}

.carousel-caption p{
    color: #000000;
    font-size: 18px;
    max-width: 550px;
}

#item1{
    background-image: url("../assets/banner1.jpg");
}
#item2{
    background-image: url("../assets/banner2.jpg");
}
#item3{
    background-image: url("../assets/banner3.jpg");
}
#item4{
    background-image: url("../assets/banner4.jpg");
}

/*    contenido      */
.contenido .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.contenido h2 {
  font-weight: normal;
}
.contenido .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.contenido-h1{
  text-align: center;
  font-size: 2em;
  line-height: 30px;
  padding-top: 30px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  .navbar-fixed-top {
    position: relative;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .navbar-center{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }

  .contenido-h1{
    font-size: 30px;
    line-height: 40px;
  }

  .contenido-encabezado {
    font-size: 50px;
  }

  .divisor {
    margin: 30px 0;
  }
}

@media (min-width: 992px) {

  .contenido-encabezado {
    margin-top: 60px;
  }

  .contenido-h1{
    font-size: 3em;
    line-height: 40px;
    padding-top: 0;
    margin-top: 40px;
  }

  .divisor {
    margin: 40px 0;
  }
}

@media (min-width: 1200px) {

}
