.img{
  color: #222 !important;
}
.flat{
  color: #eee !important;
}

h2{
    margin: 0;
    padding-top: 30px;
    font-size: 52px;
    color: #790923!important;
}

/* ------------------  inicio encabezado ------------------------------ */
.carousel-caption{
    left: 5% !important;
    right: auto!important;
    text-align: left;
    padding-bottom: 0!important;
}

.carousel-caption h2{
    color: #790923;
    font-size: 42px!important;
}

.carousel-caption p{
    color: #000000;
    font-size: 18px;
    max-width: 550px;
}

#item1{
    background-image: url("../assets/banner1.jpg");
}
#item2{
    background-image: url("../assets/banner2.jpg");
}
#item3{
    background-image: url("../assets/banner3.jpg");
}

/* ------------------  inicio contenido ------------------------------ */

.contenido .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.contenido h2 {
  font-weight: normal;
}
.contenido .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.contenido-h1{
  text-align: center;
  font-size: 2em;
  line-height: 30px;
  padding-top: 30px;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

#contacto{
  padding-top: 20px
}

#contact-header{
  padding-left: 15px;
  padding-right: 15px
}

#contact-header h2{
  font-size: 40px;
  line-height: 40px;
}
#contact-header p{
  font-size: 18px
}

.contact-list li{
  font-size: 18px;
  margin-top: 1em;
}

.contact-list li i{
  color: #790923;
  font-size: 20px;
}

.contact-div{
  margin-top: 1.5em;
}
.contact-input{
  padding: 0 1em;
  width: 100%;
  height: 3em;
}
.contact-textarea{
  padding: 0.75em 1em;
}
.contact-form{
  font-size: 18px;
  border-radius:0;
  background:rgba(121, 9, 47, 0.15);
  color:#6f7577;
  border: none;
}

.contact-form:focus{
  outline: none;
  box-shadow: inset 0 0 0 2px #8cd1a8;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  .navbar-fixed-top {
    position: relative;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .navbar-center{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }

  .header-img {
    display: block;
    background-image: url('/assets/header.jpg');
    background-size: cover;
  }

  .header-flat{
    background-color:#222;
  }
  #logo{
    text-align:center;
    margin-top:20px;
  }
  #logo i{
    font-size:60px;
  }

  #logo p{
    font-size:14px;
  }
  #eslogan{
    padding-top: 0.5em !important;
    padding-bottom: 2.5em;
  }
  #eslogan div{
    margin-top: 10px!important;
    margin-bottom: 10px !important;
    text-align: center;
    border: 0;
    padding: 5px;
  }

  #eslogan div h1{
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    margin-top:10px;
    font-size: 3em;
    color:#ffffff
  }

  .glass {
    background-color: rgba(255, 255, 255, 0.35);
  }
  .glass::before {
    -webkit-filter: url('#blur');
    filter: url('#blur');
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }

  .contenido-h1{
    font-size: 30px;
    line-height: 40px;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .divisor {
    margin: 30px 0;
  }
}

@media (min-width: 992px) {

  .featurette-heading {
    margin-top: 60px;
  }

  #eslogan{
    margin-left: 20%!important;
    padding-top: 0.75em !important;
    padding-bottom: 3em;
  }
  #eslogan div h1{
    font-size:4em;
  }
  #logo i{
    font-size:90px;
  }

  #logo p{
    font-size:18px;
  }

  .contenido-h1{
    font-size: 3em;
    line-height: 40px;
    padding-top: 0;
    margin-top: 40px;
  }

  .divisor {
    margin: 40px 0;
  }
}

@media (min-width: 1200px) {

  #eslogan{
    margin-left: 20%!important;
    padding-top: 1em !important;
    padding-bottom: 4em;
  }
  #eslogan div h1{
    font-size:5em;
  }
  #logo i{
    font-size:95px;
  }

  #logo p{
    font-size:18px;
  }
}
