html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 60px;
    color: #5a5a5a;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

#logo{
    text-align:center;
    margin-top:20px;
}
#logo i{
    font-size:95px;
}

#logo p{
    font-size:18px;
}

/* ------------------  inicio navegacion ------------------------------ */
.navbar-fixed-top {
    position: relative;
    right: 0px;
    left: 0px;
    z-index: 1030;
}
.navbar-center{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
nav.affix {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index:10;
}

#ul-navbar li{
    font-size: 20px;
}
.li-sn{
    font-size: 14px !important;
}
.li-sn a{
    padding: 7px 0 0 3px !important;
}

/* ------------------  .navegacion ------------------------------ */


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

 /* barra de busqueda */
input.search-query {
    padding:1em 1em 1em 26px;
}
form.form-search {
    padding-left: .25em;
    position: relative;
}
form.form-search:before {
    display: block;
    width: 28px;
    height: 14px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    font-size: 20px;
    background-position: -48px 0;
    position: absolute;
    top:8px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}

.form-control{
    width: 50% !important;
    font-size: 24px;
    border-radius: 0;
}
 /* fin de barra busqueda */


/* panel productos */

.div-content{
    padding: 1em 1em 1em 0;
}

.content-section{
    min-height: 20px;
    padding: 0 19px 19px 15px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.content-section-title .left{
    background-color: #222;
    color:white;
    padding-left: 0.5em;
}

.content-section-title .left h3{
    margin: 10px 0 10px 0;
    font-size: 28px;
}

.content-section-title .right{
    text-align: right;
}

.content-section-title .right h4{
    margin-bottom: 0;
}

.content-section-title{
    border-bottom: 5px solid #222;
}

.content-section .description{
    padding-top: 1em;
}

.content-image{
    width: 304px;
    height: 228px;
    padding-left: 0.5em!important;
}

.content-p{
    font-size: 18px;
}

/* fin panel de productos */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 30px;
    }
}