
@media (min-width: 768px) {
    .carousel-caption{
        left: 0 !important;
        right: auto!important;
        text-align: left;
        padding-bottom: 0!important;
    }

    .carousel-caption h2{
        color: #790923;
        font-size: 48px!important;
    }

    .carousel-caption p{
        color: #000000;
        font-size: 18px;
        max-width: 550px;
    }
    .carousel-control{
        visibility: hidden!important;
    }

    #item1{
        background-image: url("../../assets/banner1.jpg");
    }
    #item2{
        background-image: url("../../assets/banner2.jpg");
    }
    #item3{
        background-image: url("../../assets/banner3.jpg");
    }
    #item4{
        background-image: url("../../assets/banner4.jpg");
    }
}
