.main-content{
    padding-right: 50px;
    padding-left: 50px;
}
p{
    text-align: justify;
    font-size: 18px;
}
.img-gde{
    max-width: 75% !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.lista li{
    text-align: justify;
    font-size: 18px;
}

.tabla{
    font-size: 14px;
}
.tabla th{
    background-color: #222;
    color: #ffffff;
    text-align: center;
}
.tabla td{
    text-align: center;
}
.mayuscula{
    text-transform: uppercase;
}