h2{
    font-size: 38px!important;
    color: #790923;
}

p{
    text-align: justify;
    font-size: 18px;
}
.img-gde{
    max-width: 75% !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.lista li{
    text-align: justify;
    font-size: 20px;
}

.tabla{
    font-size: 14px;
}
.tabla th{
    background-color: #790923;
    color: #ffffff;
    text-align: center;
}
.tabla td{
    text-align: center;
}
.mayuscula{
    text-transform: uppercase;
}

.carousel-caption{
    left: 0 !important;
    right: auto!important;
    text-align: left;
    padding-bottom: 0!important;
}

.carousel-caption h2{
    color: #790923;
    font-size: 60px!important;
}

.carousel-caption p{
    color: #000000;
    font-size: 18px;
    max-width: 550px;
}
.carousel-control{
    visibility: hidden!important;
}

#item1{
     background-image: url("../../assets/banner1.jpg");
 }
#item2{
    background-image: url("../../assets/banner2.jpg");
}
#item3{
    background-image: url("../../assets/banner3.jpg");
}
#item4{
    background-image: url("../../assets/banner4.jpg");
}