h1{
    font-size: 40px;
}

.encabezado {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

 /* barra de busqueda */
input.search-query {
    height: 50px;
    padding: 5px 5px 5px 26px;
}
form.form-search {
    padding-left: .25em;
    position: relative;
}
form.form-search:before {
    display: block;
    width: 28px;
    height: 14px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    font-size: 20px;
    background-position: -48px 0;
    position: absolute;
    top:8px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}

.form-control{
    width: 50% !important;
    font-size: 24px;
    border-radius: 0;
}
 /* fin de barra busqueda */


/* panel productos */

.div-content{
    padding: 1em 1em 1em 0;
}

.content-section{
    min-height: 20px;
    padding: 0 19px 19px 15px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.content-section-title .left{
    background-color: #222;
    color:white;
    padding-left: 0.5em;
}

.content-section-title .left h3{
    margin: 10px 0 10px 0;
    font-size: 28px;
}

.content-section-title .right{
    text-align: right;
}

.content-section-title .right h4{
    margin-bottom: 0;
}

.content-section-title{
    border-bottom: 5px solid #790923;
}

.content-section .description{
    padding-top: 1em;
}

.content-image{
    width: 304px;
    height: 228px;
    padding-left: 0.5em!important;
}

.content-p{
    font-size: 18px;
}

.carousel-caption{
    left: 5% !important;
    right: auto!important;
    text-align: left;
    padding-bottom: 0!important;
}

.carousel-caption h2{
    color: #790923;
    font-size: 42px!important;
}

.carousel-caption p{
    color: #000000;
    font-size: 18px!important;
    max-width: 550px;
}

#item1{
    background-image: url("../../assets/banner1.jpg") !important;
}
#item2{
    background-image: url("../../assets/banner2.jpg") !important;
}
#item3{
    background-image: url("../../assets/banner3.jpg") !important;
}
#item4{
    background-image: url("../../assets/banner4.jpg") !important;
}
h1{
    color: #790923!important;
}


.content-section-title .left{
    background-color: #790923!important;
}
/* fin panel de productos */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    .encabezado {
        font-size: 40px;
    }

    .content-image{
        width: 228px;
        height: 171px;
    }
    h1{
        font-size: 45px;
    }
}

@media (min-width: 992px) {
    .encabezado {
        margin-top: 10px!important;
        padding-top: 10px!important;
    }
    .content-image{
        width: 304px;
        height: 228px;
    }
}